.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    margin-left: 5rem;
}

.heroPersonalInfos {
    display: inline-block;
    width: fit-content;
}

.heroName {
    font-size: 38px;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(90, end) forwards, piscada 1s step-end infinite;
    border-right: 2px solid #fff;
    padding-right: 5px;
}

.heroCargo {
    color: #9B9B9B;
    font-weight: 400;
    font-size: 28px;
}

.heroContainer hr {
    background-color: #ADADAD;
    border: none;
    height: 1px;
    width: 50%;
    margin-top: 30px;
}

.heroText {
    margin-top: 20px;
    font-size: 48px;
    max-width: 60vw;
    color: #fff;
    font-weight: 300;
}

.heroArrow {
    width: 4.5rem;
    height: auto;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: float 2s ease-in-out infinite;
}

@media (max-width: 1700px) {
    .heroContainer {
        margin-left: 3rem;
    }

    .heroName {
        font-size: 40px;
    }

    .heroCargo {
        font-size: 30px;
    }

    .heroText {
        font-size: 30px;
        max-width: 1000px;
    }

    .heroArrow {
        width: 65px;
    }
}

@media (max-width: 1400px) {
    .heroText {
        max-width: 800px;
    }
}

@media (max-width: 1000px) {
    .heroContainer {
        margin-left: 3rem;
    }

    .heroName {
        font-size: 40px;
    }

    .heroCargo {
        font-size: 30px;
    }

    .heroText {
        font-size: 30px;
        max-width: 600px;
    }
}

@media (max-width: 700px) {
    .heroContainer {
        margin-left: 1rem;
    }

    .heroName {
        font-size: 30px;
    }

    .heroCargo {
        font-size: 27px;
    }

    .heroText {
        font-size: 23px;
    }

    .heroArrow {
        width: 70px;
    }
}

@media (max-width: 390px) {
    .heroContainer {
        margin-left: 1rem;
    }

    .heroName {
        font-size: 30px;
    }

    .heroCargo {
        font-size: 27px;
    }

    .heroText {
        font-size: 20px;
    }

    .heroArrow {
        width: 60px;
    }
}


@media (max-width: 375px) {
    .heroName {
        font-size: 27px;
    }

    .heroCargo {
        font-size: 24px;
    }

    .heroText {
        font-size: 18px;
    }

    .heroArrow {
        width: 50px;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes piscada {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #fff;
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}