@font-face {
    font-family: 'Archivo';
    src: url(../../assets/fonts/Archivo-Regular.ttf);
  }

.headerContainer {
    width: 100dvw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.headerTopics {
    display: flex;
    gap: 20rem;
    list-style: none;
}

.headerTopics li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: "Poppins";
}

.headerTopics a:hover {
    text-shadow:
        0 0 7px #030303,
        0 0 10px #fff,
        0 0 12px #fff,
        0 0 24px #243B55;
    transition: text-shadow 0.2s ease-in-out;
}