@font-face {
    font-family: 'Archivo';
    src: url(../../assets/fonts/Archivo-Regular.ttf);
  }

.headerContainer {
    width: 100dvw;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.headerTopics {
    display: flex;
    gap: 20rem;
    list-style: none;
}

.headerTopics li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: "Poppins";
}

.headerTopics a:hover {
    text-shadow:
        0 0 7px #030303,
        0 0 10px #fff,
        0 0 12px #fff,
        0 0 24px #243B55;
    transition: text-shadow 0.2s ease-in-out;
}

@media (max-width: 1100px) {
    .headerTopics {
        display: none;
        gap: 2rem;
    }

    .menuOpen .headerTopics {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 170px;
        background-color: #edede9;
        height: 50dvh;
        width:  30dvw;
        justify-content: center;
        align-items: center;
    }

    .headerTopics li a {
        color: black;
        font-size: 30px;
    }
}
