@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

#navBar {
    border: 10px solid black;
    display: flex;
    width: 100%;
    position: fixed;
    
}

p {
    font-family: "Noto Sans JP", sans-serif;
}